<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': article.loveIts > 0,
                'list-group-item-danger': article.loveIts < 0}">
  <h4 [ngStyle]="{color: getColor()}">{{ article.title }}</h4>
  <p>{{ article.created_at | date | uppercase }}</p>
  <p>{{ article.content }}</p>
  <button class="btn btn-success" (click)="onLoveIts()">Love it</button>
  <button class="btn btn-danger" style="{margin-right: 15px !important;}" (click)="onDontLoveIts()">Dont Love it</button>
</li>
