<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Posts</h2>
      <ul class="list-group">
        <app-article *ngFor="let post of posts; let index = index;"
                      [article]="post"
                      [indice]="index"></app-article>
      </ul>

    </div>
  </div>
</div>
